
@font-face {
    font-family: redHat;
    src: url(../assets/fonts/redHat.ttf);
}



/* MAIN STYLE */
body{
    color:black;
    margin : 0;
    font-family: redHat;

}

.error {
    text-align: center;
    color: red;
}



/* Nav */

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem; 
}

nav ul li{
    list-style-type: none;

}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav {
    position: fixed;
    width: 100vw;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}

/* index */

.wrapper{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper h1{
    margin: 0;
    text-align: center;
}

.wrapper img {
    margin-top: 7rem;
    width: 12rem;
    height: 11rem;
    animation: tourne 4s infinite;
    transition: 2s;
}

.cocktail:hover{
    animation : tourne 1s infinite;
    transition: 3s;
}

@keyframes tourne{
    0% {
        transform: rotate(0deg);
        transition: 1s;
    }
    100%{
        transform: rotate(360deg);
        transition: 1s;
    }
    
}

/* produits */

.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;


/* produit */
}

.product{
    padding-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product img {
    height: 15rem;
    width: 15rem;
    animation: tourne 0.5s infinite;

}
.product button {
    width: 30rem;
    height: 2rem;
    border-radius: 30px;
    margin-left: 30rem;
    transition: 2s;

}
.product button:hover {
    transform: scale(5);
    transition: 1s;
}

/* .product h1 {
    margin-top : 5rem;
} */


/* signup */
form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width: 15rem;
    height: 1.5rem;
    margin-top: 0.5rem;

}
form a {
    margin-top: 2rem;
    position: relative;
    left:0px;
}


input[type="submit"] {
    width: 15.5rem;
    height: 1.5rem;
}

.signup-form, .login-form {
    margin-top: 4rem;
}

/* PROFILE */

#profile-avatar{
    border-radius: 100% !important;
    width: 10rem !important;
    height: 10rem !important;
}